@import 'https://fonts.googleapis.com/css?family=Catamaran';
@import url( 'https://fonts.googleapis.com/css?family=Teko');

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Catamaran', sans-serif;
}

#heading {
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	font-size: 45pt;
	color: #fff;
}

body {
	background: #222;
	background: linear-gradient(to bottom, #111 , #222);
}

.container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

svg {
	z-index: 10;
	//filter: blur(1px);
	height: 100%;
}

.stick {
	transform: translatex(100px) translatey(360px);
	//filter: brightness(200%);
}

.flame {
	mix-blend-mode: screen;
}